body {
  background-color: #708090;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 

}
button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #778899;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 1px; 
  margin-top: 10px;
  width: 250px; 
}

@media (max-width: 768px) {
  button {
    width: calc(50% - 10px);
  }
}

h1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #7D8FA0;
  margin: 0;
  padding: 10px 0; 
  z-index: 1000; 
}

h2 {
  margin-top: 150px; 
  text-align: center;
  color: white;
  font-size: 50px;
  background-color: #7D8FA0;
}


.now-playing-button {
  position: absolute;
  top: 50px; 
  right: 10px; 
}

.top-artists-button {
  position: absolute;
  top: 50px; 
  left: 10px; 
}

.song-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  border-radius: 20px;
  padding: 20px;
  background-color: #778899;
  border: 2px solid #808080;
}


.song-container img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  margin-bottom: 10px;
  border: 2px solid white;
}



.artist-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-item {
  text-align: center;
  margin-bottom: 20px; 
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.artist-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}


.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.artist {
  font-size: 16px;
}

.offline-error {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

.loading-message {
  font-style: italic;
  margin-top: 20px;
}